body {
	height: 100%;
	width: 100%;
}
.illustration-container {
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 275px;
}
.square1 {
	display: inline-block;
	height: 100px;
	width: 100px;
	border: 1px solid grey;
	margin-right: 45px;
}
.circle {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  margin-right: 45px;
}
.square2 {
	display: inline-block;
	height: 100px;
	width: 100px;
	border: 1px solid grey;
}
.swatch-container {
	position: absolute;
	width: 270px;
	top: 10px;
	bottom: 10px;
	right: 10px;
	border: 1px solid black;
}
.swatch {
	width: 50px;
	padding: 10px 0;
	display: block;
	color: white;
	text-align: center;
	margin: 10px auto;
}
.red {
	background-color: red;
}
.blue {
	background-color: blue;
}
.green {
	background-color: green;
}
.maroon {
	background-color: maroon;
}
.orange {
	background-color: orange;
}
.yellow {
	background-color: yellow;
}
.olive {
	background-color: olive;
}
.purple {
	background-color: purple;
}
.fuchsia {
	background-color: fuchsia;
}
.lime {
	background-color: lime;
}
.teal {
	background-color: teal;
}
.aqua {
	background-color: aqua;
}
.navy {
	background-color: navy;
}
.black {
	background-color: black;
}
.silver {
	background-color: silver;
}
.highlight {
	border: 2px solid black;
}